<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>じゃんけん</title>
        <meta content="text/html; charset=utf-8" http-equiv="content-type" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <h1>じゃんけん！</h1>
        <form action="" method="post">
            <p>{{ status }}</p>
            <p>{{ result }}</p>
            <p>{{ winlose }}</p>
            <p><input type="submit" name="rps" value="グー" /></p>
            <p><input type="submit" name="rps" value="チョキ" /></p>
            <p><input type="submit" name="rps" value="パー" /></p>
        </form>
    </body>
</html>
