<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Guess Number</title>
        <meta content="text/html; charset=utf-8" http-equiv="content-type" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <form action="" method="post">
            <p>{{ res }}</p>
            <p>Input Your Guess: <input type="text" name="num" /></p>
            <p><input type="submit" /></p>
        </form>
    </body>
</html>
